.gradle
.idea
build/
target/
logs/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.iml

*.log

*.toDelete

.DS_Store
scripts/.DS_Store
src/.DS_Store
